<!doctype html>
<html lang="eng">
  <head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="" href="../dist/css/bootstrap.css" title="" type="">

   
    <title>{{ title }}</title> 
  </head>
  <body>
    {{ content | safe }}
    <script src=../dist/js/bootstrap.js" charset="utf-8"></script>
  </body>
</html>
